@font-face {
	font-family: Pixel;
	src: url('other/pixel.otf');
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

#container canvas {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}

#container #background {
	z-index: 0;
}

#container #game {
	z-index: 1;
}

#container button {
	z-index: 2;
}

#container #dialog {
	z-index: 3;
}

#container #windows {
	display: none;
	z-index: 4;
}

#container button.add-level, #container button.levels-done {
	z-index: 5;
}

button.attack, button.special, button.hpot, button.spot {
	background-image: url('images/level/controlbar_buttons.png');
	background-color: transparent;
	width: 160px;
	height: 80px;
	border: 0;
}

button.attack, button.special {
	text-indent: 160px;
	overflow: hidden;
}

button.attack { background-position: 0px 0px; }
button.attack:active { background-position: 0px -80px; }

button.special { background-position: -160px 0px; }
button.special:active { background-position: -160px -80px; }

button.hpot, button.spot {
	font-family: Pixel;
	font-size: 50px;
	text-align: right;
	padding: 0 20px 10px 0;
	color: #a2927a;
}

button.hpot:active, button.spot:active {
	color: #988873;
	padding: 0 16px 2px 0;
}

button.hpot { background-position: -320px 0px; }
button.hpot:active { background-position: -320px -80px; }

button.spot { background-position: -480px 0px; }
button.spot:active { background-position: -480px -80px; }

#dialog {
	display: none;

	position: absolute;
	left: 180px;
	bottom: 20px;
	width: 600px;
	height: 130px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	color: white;
	background: url('images/level/dialogbox.png') no-repeat;
	font-family: Pixel;
	padding: 16px 50px;

	overflow: hidden;
}

#dialog.visible {
	display: block;
}

#dialog .invisible {
	opacity: 0;
}

#dialog .message.storyteller {
	font-style: italic;
}

#dialog .message.robin-blue { color: #80A2D5; }
#dialog .message.robin-red { color: #F77; }
#dialog .message.robin-yellow { color: #FFFFA5; }
#dialog .message.robin-pink { color: #FFB8FF; }
#dialog .message.robin-black { color: #B1B1B1; }

button.new-game, button.load-game, button.cards-album {
	width: 160px;
	height: 30px;
	text-indent: -300px;
	overflow: hidden;
	border: 0;
	background: transparent url('images/menu/buttons.png');
}

button.new-game { background-position: 0px 0px; }
button.new-game:active, button.new-game:hover { background-position: 0px -30px; }

button.load-game { background-position: -160px 0px; }
button.load-game:active, button.load-game:hover { background-position: -160px -30px; }

button.cards-album { background-position: -320px 0px; }
button.cards-album:active, button.cards-album:hover { background-position: -320px -30px; }

button.pause, button.mute {
	height: 24px;
	text-indent: -300px;
	overflow: hidden;
	border: 0;
	background: transparent url('images/level/pause_mute.png');
}

button.pause { width: 14px; background-position: 0px 0px; }
button.pause:active, button.pause.active { background-position: -36px 0px; }

button.mute { width: 22px; background-position: -14px 0px; }
button.mute:active, button.mute.active { background-position: -50px 0px; }

button.add-level {
	width: 18px;
	height: 18px;
	text-indent: -100px;
	overflow: hidden;
	border: 0;
	z-index: 5;
	background: transparent url('images/level/skillbox_buttons.png') -84px 0px;
}
button.add-level:hover, button.add-level:active { background-position: -102px 0px; }

button.levels-done {
	width: 84px;
	height: 22px;
	text-indent: -300px;
	overflow: hidden;
	border: 0;
	z-index: 5;
	background: transparent url('images/level/skillbox_buttons.png') 0px 0px;
}

button.death-menu {
	width: 120px;
	height: 32px;
	text-indent: -500px;
	overflow: hidden;
	border: 0;
	background: transparent url('images/death/buttons.png') 0px 0px;
}
button.death-menu:hover, button.death-menu:active { background-position: 0px -32px; }

button.death-continue {
	width: 264px;
	height: 32px;
	text-indent: -500px;
	overflow: hidden;
	border: 0;
	background: transparent url('images/death/buttons.png') -120px 0px;
}
button.death-continue:hover, button.death-continue:active { background-position: -120px -32px; }
